extends base

block content
    h4 Upload video
    form(method="POST")
        input(name="title", placeholder="Video Title", required ,type="text")
        input(name="url", placeholder="Video URL", required,type="text")
        input(value="Upload Video",type="submit")